div#content {
	text-align: left;
	margin-left: 100px;
}

form.login fieldset {
	padding: 0;
	border: none;
}

form.login fieldset ol {
	margin: 20px 0 0 0;
	padding: 0;
}

form.login fieldset li {
	list-style: none;
	padding: 5px 0 0 0;
	margin: 0;
}

form.login fieldset {
	border: none;
	margin: 0;
}

form.login fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.login fieldset label {
	display: block;
	width: auto;
}

form.login fieldset input {
	border: 1px solid #ccc;
	width: 250px;
}

form.login label {
	width: 120px; /* Width of labels */
}

form.login fieldset fieldset label {
	margin-left: 123px; /* Width plus 3 (html space) */
}

img#key {
	float: left;
	margin: 20px 20px 0 10px;
}

div#msg {
	padding: 10px 0 0 0;
	margin-right: 30px;
}

div#header {
	height: 30px;
	background: #0088ff;
	border: 1px solid #ffffff;
	padding: 10px 10px 0 10px;
	text-align: left;
	color: #ffffff;
	font-size: 130%;
	font-weight: bold;
	text-transform: uppercase;
}

div#container {
	width: 100%;
	text-align: center;
}

div#wrapper {
	width: 400px;
	border: 2px solid #0088ff;
	margin: 100px auto 0 auto;
}

div#buttons {
	margin: 30px 0 30px 80px;
}

div#error {
	background-color: #ffc4c4;
	margin: 20px 30px 5px 0;
	padding: 5px;
	border: 1px solid #eb8f8f;
	text-align: center;
}