/TurtleHub.log
/core/target/
/tomcat55adaptor/target/
/tomcat50adaptor/target/
/tomcat70adaptor/target/
/tomcat60adaptor/target/
/tomcat80adaptor/target/
/web/target/
/.project
/**/**.project
/**/.classpath
/**/.settings/