[project]
	description = Advanced manager and monitor for Apache Tomcat, forked from Lambda Probe
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeff Anderson (jander99)
[access "refs/for/refs/*"]
	read = group user/Jeff Anderson (jander99)
	push = group user/Jeff Anderson (jander99)
	label-Code-Review = -2..+2 group user/Jeff Anderson (jander99)
	label-Verified = -1..+1 group user/Jeff Anderson (jander99)
	rebase = group user/Jeff Anderson (jander99)
	removeReviewer = group user/Jeff Anderson (jander99)
	submit = group user/Jeff Anderson (jander99)
[access "refs/heads/*"]
	read = group user/Jeff Anderson (jander99)
	create = group user/Jeff Anderson (jander99)
	push = +force group user/Jeff Anderson (jander99)
	pushMerge = group user/Jeff Anderson (jander99)
[access "refs/tags/*"]
	push = +force group user/Jeff Anderson (jander99)
	pushTag = group user/Jeff Anderson (jander99)
	pushSignedTag = group user/Jeff Anderson (jander99)
