#
# Licensed under the GPL License. You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#
# THIS PACKAGE IS PROVIDED "AS IS" AND WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
# WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTIBILITY AND FITNESS FOR A PARTICULAR
# PURPOSE.
#

name: Coverity

on:
  push:
    branches:
      - coverity_scan

jobs:
  build:
    if: github.repository_owner == 'psi-probe'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: zulu
      - name: Analyze with Coverity
        run: |
          wget -q https://scan.coverity.com/download/linux64 --post-data "token=$COVERITY_TOKEN&project=psi-probe%2Fpsi-probe" -O coverity_tool.tgz
          tar -xf coverity_tool.tgz
          ./cov-analysis-linux64-*/bin/cov-build --dir cov-int ./mvnw -B -DskipTests=true verify -Dlicense.skip=true
          tar czvf psi-probe.tgz cov-int
          curl --form token=$COVERITY_TOKEN \
            --form email=$EMAIL \
            --form file=@psi-probe.tgz \
            --form version="psi-probe/coverity_scan" \
            --form description="psi-probe Coverity Scan" \
            https://scan.coverity.com/builds?project=psi-probe%2Fpsi-probe
        env:
          COVERITY_TOKEN: ${{ secrets.COVERITY_TOKEN }}
          EMAIL: ${{ secrets.EMAIL }}
