#
# Licensed under the GPL License. You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#
# THIS PACKAGE IS PROVIDED "AS IS" AND WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
# WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTIBILITY AND FITNESS FOR A PARTICULAR
# PURPOSE.
#

name: Coverity

on:
  push:
    branches:
      - coverity_scan

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  UPSTREAM_OWNER: psi-probe
  UPSTREAM_REPO: psi-probe

jobs:
  build:
    if: github.repository_owner == 'psi-probe'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          cache: maven
          java-version: 25
          distribution: zulu
      - name: Analyze with Coverity
        run: |
          wget --quiet https://scan.coverity.com/download/linux64 --post-data "token=${COVERITY_TOKEN}&project=${UPSTREAM_OWNER}%2F${UPSTREAM_REPO}" --output-document=coverity_tool.tgz
          tar --extract --file=coverity_tool.tgz
          ./cov-analysis-linux64-*/bin/cov-configure --java
          ./cov-analysis-linux64-*/bin/cov-build --dir cov-int ./mvnw verify --batch-mode --no-transfer-progress --show-version -Dlicense.skip=true -DskipTests=true
          cat /home/runner/work/${UPSTREAM_OWNER}/${UPSTREAM_REPO}/cov-int/build-log.txt
          tar --create --gzip --verbose --file=${UPSTREAM_REPO}.tgz cov-int
          curl --form token=${COVERITY_TOKEN} \
            --form email=${EMAIL} \
            --form file=@${UPSTREAM_REPO}.tgz \
            --form version="${UPSREAM_REPO}/coverity_scan" \
            --form description="${UPSTREAM_OWNER} Coverity Scan" \
            https://scan.coverity.com/builds?project=${UPSTREAM_OWNER}%2F${UPSTREAM_REPO}
        env:
          COVERITY_TOKEN: ${{ secrets.COVERITY_TOKEN }}
          EMAIL: ${{ secrets.EMAIL }}
