name: Coverity

on:
  push:
    branches:
      - coverity_scan

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  UPSTREAM_OWNER: psi-probe
  UPSTREAM_REPO: psi-probe

jobs:
  build:
    if: github.repository_owner == 'psi-probe'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          cache: maven
          java-version: 21
          distribution: zulu
      - name: Analyze with Coverity
        run: |
          wget --quiet https://scan.coverity.com/download/linux64 --post-data "token=${{ env.COVERITY_TOKEN }}&project=${{ env.UPSTREAM_OWNER }}%2F${{ env.UPSTREAM_REPO }}" --output-document=coverity_tool.tgz
          tar --extract --file=coverity_tool.tgz
          ./cov-analysis-linux64-*/bin/cov-build --dir cov-int ./mvnw verify --batch-mode --no-transfer-progress --show-version -Dlicense.skip=true -Dmaven.compiler.fork=true -DskipTests=true
          cat /home/runner/work/${UPSTREAM_OWNER}/${{ env.UPSTREAM_REPO }}/cov-int/build-log.txt
          tar --create --gzip --verbose --file=${{ env.UPSTREAM_REPO }}.tgz cov-int
          curl --form token=${{ env.COVERITY_TOKEN }} \
            --form email=${{ env.EMAIL }} \
            --form file=@${{ env.UPSTREAM_REPO }}.tgz \
            --form version="${{ env.UPSTREAM_REPO }}/coverity_scan" \
            --form description="${{ env.UPSTREAM_OWNER }} Coverity Scan" \
            https://scan.coverity.com/builds?project=${{ env.UPSTREAM_OWNER }}%2F${{ env.UPSTREAM_REPO }}
        env:
          COVERITY_TOKEN: ${{ secrets.COVERITY_TOKEN }}
          EMAIL: ${{ secrets.EMAIL }}
